<html>
  <body>
    Here is one mermaid diagram:
    <pre class="mermaid">
            graph TD 
            A[Client] --> B[Load Balancer] 
            B --> C[Server1] 
            B --> D[Server2]
    </pre>

    And here is another:
    <pre class="mermaid">
flowchart LR
  1 --> 2(Проект)
    2 --> 3(Архитектурные Решения)
      3 --> 4(Кровля)
        4 --> 5(Материал рулонный гидроизоляцонный кровельный)
        4 --> 6(Теплоизоляция поверхностей)
        4 --> 7(Пароизоляция, мембрана ПВХ, гидроизоляция)
      3 --> 8(Фасад)
        8 --> 9(Алюминиевые композитные панели)
        8 --> 10(Навесные вентилируемые фасады)
        8 --> 11(Теплоизоляция поверхностей)
      3 --> 12(Внутренние стены и перегородки)
        12 --> 13(Перегородки из ячеистого бетона или кирпича)
        12 --> 14(гипсокартонные перегородки ГКЛ)
        12 --> 15(Перегородки туалетных кабинок и писсуаров)
      3 --> 16(Проемы)
        16 --> 17(Оконные блоки)
        16 --> 18(Стеклопакеты из полированного стекла)
        16 --> 19(Алюминевые Витражи)
        16 --> 20(Алюминиевый Противопожарный Витраж)
        16 --> 21(Дверные блоки деревянные)
        16 --> 22(Дверные блоки противопожарные металлические)
        16 --> 23(Дверные блоки алюминиевые)
        16 --> 24(Роллеты)
      3 --> 25(Полы)
        25 --> 26(керамическия плитка)
        25 --> 27(линолеум)
        25 --> 28(Паркетная доска)
        25 --> 29(тепло- и звукоизоляция из панелей)
        25 --> 30(тепло- и звукоизоляция из рулонных материалов)
        25 --> 31(цементные растворы и керамзит)
        25 --> 32(Материал рулонный кровельный и гидроизоляционный наплавляемый)
        25 --> 33(плинтуса)
      3 --> 34(Потолки)
        34 --> 35(Подвесные потолки типа АРМСТРОНГ)
        34 --> 36(Подвесные акустические потолки)
      3 --> 37(Отделка стен)
        37 --> 38(Шпатлевка, Краска, Грунтовка)
        37 --> 39(Облицовка стен внутренних керамическими крупноразмерными плитами)
        37 --> 40(Акустические фибролитовые стеновые панели )
      3 --> 41(Лако-Красочные Изделия)
      3 --> 42(Огне. Хим. Защита)
      3 --> 43(Лестницы наружние )
      3 --> 44(Пандусы наружние)
      3 --> 45(Пожарные лестницы)
    2 --> 46(Конструктивные Решения)
      46 --> 47(Конструкции Железобетонные)
        47 --> 48(Бетонная Смесь Готовая)
        47 --> 49(Арматура)
        47 --> 50(Кирпич)
        47 --> 51(Арматурные заготовки)
      46 --> 52(Констуркции Металлические)
        52 --> 53(Стальные ригели и балки)
        52 --> 54(профили стальные)
        52 --> 55(Фермы стропильные)
        52 --> 56(Отдельные конструктивные элементы с преобладанием толстолистовой стали)
        52 --> 57(Каркасный козырек)
      46 --> 58(Земляные Работы)
      46 --> 59(Шпунтовое Ограждение)
      46 --> 60(Гидроизоляция)
    2 --> 61(Слаботочка)
      61 --> 62(Автоматическая Пожарная Сигнализация)
      61 --> 63(Автоматика Пожаротушения)
      61 --> 64(Система Управления Эвакуацией)
      61 --> 65(Автоматика Противодымной Вентиляции)
      61 --> 66(Структурированная Кабельная Система)
      61 --> 67(Охранная Сигнализация)
      61 --> 68(Система Контроля и Управления Доступом)
      61 --> 69(Система Телефонной Связи)
      61 --> 70(Система Приема Телевидения)
      61 --> 71(Система Видеонабоюдения)
      61 --> 72(Автоматизация Комплексная)
      61 --> 73(Часофикация )
    2 --> 74(Электрика)
      74 --> 75(Кабели силовые; трубы электротехнические и гофрированные, рукава металлические; Короба металлические , Лотки для кабелей, профили монтажные; короба распределительные)
      74 --> 76(Выключатели, Переключатели, Светильники, Розетки)
      74 --> 77(Шкафы Управления, Трансформаторы понижающие, Щиты Распределительные)
      74 --> 78(Уличный светильник на опоре, Архитектурное освещение)
      74 --> 79(Заземлитель, Проводник заземляющий, проволока стальная)
      74 --> 80(Техническое элетроснабжение)
    2 --> 81(Вентиляция)
      81 --> 82(Противодымная вентиляция)
        82 --> 83(завод виктория, свок, вк техно)
      81 --> 84(Общеобменная вентиляция)
      81 --> 85(Кондиционирование)
      81 --> 86(Клапана Противопожарные и Дымовые)
    2 --> 87(Отопление)
      87 --> 88(Стальные радиаторы)
      87 --> 89(Воздухоотводчик автоматический, Коллекторная концовка, Клапан балансировочный, фильтры очистки воды)
    2 --> 90(Водоснабжение)
      90 --> 91(Водомеры, манометры, фильтры, краны,  задвижки, венили)
      90 --> 92(Трубопроводы водогазопроводные стальные оцинкованные, их узлы и фасонина)
      90 --> 93(Насосы, термостатические смесительные клапаны)
      90 --> 94(Трубки теплоизоляционные, цилиндры теплоизоляционные, летны для проклейки швов)
      90 --> 95(Краски по металлу)
    2 --> 96(Канализация)
      96 --> 97(Трубы канализационные полипропиленовые, ПВХ и их узлы,)
      96 --> 98(Воздушные клапана, воронки водосточные)
      96 --> 99(Трапы, поддоны чугунные душевые, смесители, раковины, мойки стальные, унитазы, сифоны)
      96 --> 100(Насосы фекальные, дренажные)
    2 --> 101(ТеХнологические решения)
    2 --> 102(Антитерор)
    2 --> 103(Благоустройство)
      103 --> 104(Геотекстиль, Решетка геотехническая)
      103 --> 105(Лотки водоотводные, Решетки, Пескоуловители)
      103 --> 106(Песок, Щебень)
      103 --> 107(Земля растительная, Семена газонов, Цветы, Кустарники, Деревья)
      103 --> 108(Брусчатка бетонная, Смеси монтажно кладочные, Бордюры)
      103 --> 109(Асфальтобетонные смеси, Дорожные эмульсии )
      103 --> 110(Разметка и дорожные знаки)
      103 --> 111(МАФ: Скамейки, урны, вывески)
      103 --> 112(Ворота, калитки, шлагбаумы, заборы)
    2 --> 113(Вертикальный транспорт)
      113 --> 114(Лифты)
      113 --> 115(Подъемные Платформы для Маломобильных Груп Населения)
    2 --> 116(стройплощадка )
      116 --> 117(Опалубка)
      116 --> 118(Строительные Леса)
      116 --> 119(Бытовки)
      116 --> 120(Туалеты)
      116 --> 121(Вывоз Мусора)
      116 --> 122(Вывоз Грунта )
      116 --> 123(Дизельно- Генераторные Установки)
      116 --> 124(Аренда Техники)
      116 --> 125(Инструменты)
      116 --> 126(Расходный материал)
    </pre>

    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  </body>
</html>